.Projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Project-Video{
    border-radius: 50em;
	height:40vh;
	transition: transform .2s;
	background: rgb(255, 169, 219);
	padding: 0.35em;
	margin: 2em;
}

.projects-click{
    display: block;
    margin-top: 1em;
}

.Page{
    background-color: rgb(196,248,255);
    height: 100vh;
    display: block;
    text-align: center;
}

.description{
    margin: 0em;
}