.Landing {
    text-align: center;
  
  }
  .Background{
    filter: blur(15px);
    -webkit-filter: blur(15px);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
  }
/*   
  a:link{
    color: rgb(70, 25, 32);
  }
  a:visited{
    color: rgb(70, 25, 32);
  } */
  
  .landing-button {
    background-color: rgb(89, 216, 255);
    border: none;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 85%;
    position: relative;
    width: 31%;
  }
  
  .landing-button:hover {
    background-color: rgb(65, 193, 252); 
    color:rgb(0, 0, 0);
    
  }
  
  .resize{
    width: 35%;
    height: 35%;
    position: relative;
    margin: 0;
  }

  .text{
      position: relative;
      color: white;
      padding: 0.5em;
  }
  
  @media only screen and (max-width:600px){
    .Landing {
     height: 100vh;
    }
    .Background{
      filter: blur(15px);
      -webkit-filter: blur(15px);
      height: 100vh;
      position: absolute;
      left: 0%;
    }
    
    .button {
      background-color: rgb(192, 192, 192); /* Green */
      border: none;
      color: rgb(70, 25, 32);
      margin: 0;
      padding: 1em 4.75em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 85%;
      position: relative;
      width: 31vh;
    }
    
    .button:hover {
      background-color: rgb(97, 97, 97); 
      color:rgb(70, 25, 32);
      
    }

    .resize{
      height:50vh;
      width: 50vh;
      margin-top: 2em;
    }
  
    .text{
        position: relative;
        color: white;
        padding: 0.5em;
    }
    
  
    
  }