.Landing {
  height: 100%;
  background-color: rgb(196,248,255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../media/images/dafna-web.png);
  backdrop-filter: blur(1000px);

  }

  .centered-text{
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  }
  .text-type{
    font-size: 10vh; 
  }
  .text-link{
    color:white;  
    font-size: 4vh;
  }

  a:visited{
    color:white;
  }
  
  .landing-image{
    height:100vh;
    display: block;
    /* height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .mobile-landing-image{
   display:none;
  }
  
  .landing-button {
    background-color: rgba(0, 0, 0, 0.733);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    padding: 0.5em 0.5em;
    position: absolute;
    top: 85%;
    left: 42%;
  }
  
  .landing-button:hover {
    background-color: rgba(0, 0, 0, 0.644); 
    color:rgb(255, 255, 255);
    
  }
  

  .desktop{
    display:block;
  }

  .mobile{
    display:none;
  }
  @media only screen and (max-width:600px){
    .landing-button{
      left: 38%;
    }
  }