.Ask{	
	background-color:rgb(196, 248, 255);
	height: 100vh;
	text-align: center;
	/* display: flex;
	justify-content: center; */
	}
	
	.Ask-Title{
	height:17vh;
	padding-top: 4em;
	
	}
	
	.Ask-Header{
	height: 30vh;
	display:flex;
	/* align-items: center; */
	justify-content: left;
	padding: 1em;
	padding-bottom: 0em;
	background-color: rgb(196, 248, 255);
	}
	
	.Ask-Content{
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	.Ask-Footer{
	top: 100vh;
	height: 30vh;
	display: flex;
	align-items: right;
	justify-content: center;
	}
