
@font-face {
	font-family: 'BentonSans-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('BentonSans-Regular'), url('BentonSans-Regular.woff') format('woff');
	}
.About{	
	background-color:rgb(196, 248, 255);
	height: 100%;
	text-align: center;
	}
	
	.About-Navbar{
	position: fixed;
	}
	
	.About-Title-Large{
	height:14vh;
	user-select: none;
	padding-top: 6em;
	padding-bottom: 1em;
	}

	
	.About-Title{
	height:6vh;
	user-select: none;
	padding-top: 6em;
	padding-bottom: 1em;
	}
	
	.About-Me{
	height: 4vh;
	padding-left: 0.6em;
	}
	.About-Wrapper{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	}
	
	.About-Image{
	height: 30vh;
	padding: 0.35em;
	margin-left: 1em;
	border-radius: 20em;
	user-select: none;
	transition: transform .2s;
	background-image: url('../media/images/pink.jpg');
	}
	
	.About-Image:hover{
	transform: scale(1.05);
	}
	
	.About-Header{
	height: 16vh;
	display:flex;
	align-items: center;
	justify-content: left;
	padding: 1em;
	padding-bottom: 0em;
	padding-top:3em;
	background-color: rgb(196, 248, 255);
	}
	
	
	.About-Content{
	height: 40vh;
	display: flex;
	justify-content: center;
	background-color: rgb(196, 248, 255);

	
	}
	.About-Text{
	font-family: 'BentonSans-Regular';
	width: 35em;
	padding: 0.2em;
	text-align: center;
	background-color: white;
	height: 12em;
	font-size: 0.9em;
	border-radius: 2em;
	box-shadow: 0.5em 0.5em #ffd6e5;
	transition: transform .2s;
	margin: 1em;
	
	}
	
	.About-Text:hover{
	transform: scale(1.05);
	}


	@media only screen and (max-width: 600px){			
			.About-Title-Large{
			height:10vh;
			margin-bottom: 2em;
			user-select: none;
			}
			
			.About-Title{
			height:4vh;
			margin-bottom: 2em;
			user-select: none;
			}
			
			.About-Wrapper{
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			}
			
			.About-Image{
			height: 30vh;
			padding: 0.35em;
			margin-left: 1em;
			border-radius: 20em;
			user-select: none;
			transition: transform .2s;
			background-image: url('../media/images/rainbow.jpg');
			}
			
			.About-Header{
			height: 16vh;
			display:flex;
			align-items: center;
			justify-content: center;
			padding: 1em;
			padding-bottom: 0em;
			padding-top:3em;
			background-color: rgb(196, 248, 255);
			}
			
			
			.About-Content{
			height: 80vh;
			display: flex;
			justify-content: center;
			background-color: rgb(196, 248, 255);
			
			}
		.About-Text{
			font-family: 'BentonSans-Regular';
			width: 35em;
			padding: 0.2em;
			text-align: center;
			background-color: white;
			height: 22em;
			font-size: 0.9em;
			border-radius: 2em;
			box-shadow: 0.5em 0.5em #ffd6e5;
			transition: transform .2s;
			margin: 1em;
			
			}
	}