
.Folio{	
	background-color:rgb(196, 248, 255);
	height: 100vh;
	text-align: center;
	/* display: flex;
	justify-content: center; */
	}
	.Folio-Navbar{
	position: fixed;
	}
	
	.Folio-Title{
	height:5vh;
	/* padding-top: 8em; */
	padding-left: 2em;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 1em;
	
	}
	.Folio-A{
	height:5vh;
	padding-top: 4em;
	padding-left: 1.8em;
	display: flex;
	justify-content: left;
	align-items: center;
	}
	.Folio-Ap{
	height: 3vh;
	padding-top: 1em;
	/* position: relative; */
	/* top: -3em;
	left: 1em; */
	}
	.Folio-F{
	height: 12vh;
	/* position: relative; */
	}
	.Folio-Letters{
	height: 6vh;
	padding: 0.1em;
	/* position: relative; */
	}
	.Folio-O{
	height: 6vh;
	}
	.Folio-parenth{
	height:5vh;
	/* display: flex;
	padding-left: 7.5em;
	padding-top: 0.5em; */
	}
	.Folio-Content{
	background-color: rgb(196, 248, 255);
	padding-top: 3em;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* position: relative; */
	}
	
	.Folio-Video {
	border-radius: 100em;
	height:30vh;
	transition: transform .2s;
	background: rgb(255, 169, 219);
	padding: 0.35em;
	margin: 2em;

	}
	
	.Folio-Video:hover{
		transform: scale(1.1);
	}
	
	#Folio-Text{
	padding: 3em;
	text-decoration: none;
	
	}
	.Folio-Footer{
	margin-top: 8em;
	}

	@media only screen and (max-width: 600px){

	.Folio-Title{
	height:5vh;
	/* padding-top: 8em; */
	padding-left: 0em;
	display: flex;
	justify-content: center;
	align-items: center;
	
	}
	.Folio-A{
	height:5vh;
	padding-top: 4em;
	padding-right: 13em;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	.Folio-Ap{
	height: 3vh;
	/* position: relative; */
	/* top: -3em;
	left: 1em; */
	}
	.Folio-F{
	height: 12vh;
	/* position: relative; */
	}
	.Folio-Letters{
	height: 6vh;
	padding: 0.1em;
	/* position: relative; */
	}
	.Folio-O{
	height: 6vh;
	}
	.Folio-parenth{
	height:5vh;
	/* display: flex;
	padding-left: 7.5em;
	padding-top: 0.5em; */
	}
	.Folio-Content{
	background-color: rgb(196, 248, 255);
	padding-top: 1em;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* position: relative; */
	}
	
	.Folio-Video {
	border-radius: 100em;
	height:30vh;
	transition: transform .2s;
	background: rgb(255, 169, 219);
	padding: 0.35em;
	margin: 1em;

	}
	
	
	#Folio-Text{
	padding: 3em;
	text-decoration: none;
	
	}
	.Folio-Footer{
	margin-top: 3em;
	}

	}