.Folio{
    background-color:rgb(196, 248, 255);
    height: 100%;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}
.Folio-Navbar{
    position: fixed;
}

.Folio-Title{
    height:5vh;
    /* padding-top: 8em; */
    padding-left: 2em;
    display: flex;
    justify-content: left;
    align-items: center;

}
.Folio-A{
    height:5vh;
    padding-top: 4em;
    padding-left: 1.8em;
    display: flex;
    justify-content: left;
    align-items: center;
}
.Folio-Ap{
    height: 3vh;
    /* position: relative; */
    /* top: -3em;
    left: 1em; */
}
.Folio-F{
    height: 12vh;
    /* position: relative; */
}
.Folio-Letters{
    height: 6vh;
    padding: 0.1em;
    /* position: relative; */
}
.Folio-O{
    height: 6vh;
}
.Folio-parenth{
    height:5vh;
    /* display: flex;
    padding-left: 7.5em;
    padding-top: 0.5em; */
}
.Folio-Content{
    height: 100vh;
    background-color: rgb(196, 248, 255);
    padding-top: 3em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: relative; */
}

.video {
    background-image: url('./record_player.mp4');
    height: 100vh;
  }
  
  /* Hide Play button + controls on iOS */
  video::-webkit-media-controls {
      display:none !important;
  }

#Folio-Text{
    padding: 3em;
    text-decoration: none;

}
.Folio-Footer{
    top: 100vh;
    height: 30vh;
    display: flex;
    align-items: right;
    justify-content: center;
}

