.Home{	
	background-color: rgb(196, 248, 255);
	height: 100vh;
	display: flex;
	flex-direction: column;
	}

	.Home-Top{
		height: 10vh;
		display:flex;
		align-items: center;
		justify-content: center;
	}

	.Scavenge{
		text-decoration:none;
		font-family: 'BentonSans-Regular';
		color: black;
		text-align: center;
	}
	
	.Scavenge:hover{
		border: solid rgb(255, 217, 235) .05em;
		border-radius: .2em;
		background-color: rgb(255, 217, 235);
		padding: .2em;
	}
	.Home-Middle{
		height: 71vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Home-Letters-D{
	height: 18vh;
	transition: transform .2s;
	padding: 0em;
	user-select: none;
	}
	
	.Home-Letters-D:hover{
	transform: scale(1.2);
	}
	
	.Home-Letters-A{
	height: 18vh;
	transition: transform .2s;
	padding: 0em;
	user-select: none;
	}
	
	.Home-Letters-A:hover{
	transform: scale(1.2);
	}
	
	.Home-Letters-F{
	height: 17vh;
	transition: transform .2s;
	padding-left: .4em;
	user-select: none;
	}
	
	.Home-Letters-F:hover{
	transform: scale(1.2);
	}
	
	.Home-Letters-N{
	height: 18vh;
	transition: transform .2s;
	padding: 0em;
	user-select: none;
	}
	

	.Home-Letters-N:hover{
	transform: scale(1.2);
	}
	
	.Home-Click{
	position:absolute;
	top: 60vh;
	height:5vh;
	user-select: none;
	}
	
	.Home-Footer{
		height: 15vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.Home-Here{
		height:5vh;
		padding-bottom: 7em;
		
	}
	@media only screen and (max-width: 600px) { 
		.Home{	
			background-color: rgb(196, 248, 255);
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			}
			
			.Home-Letters-D{
			height: 10vh;
			padding: 0em;
			user-select: none;
			}
			
			.Home-Letters-A{
			height: 10vh;
			padding: 0em;
			user-select: none;
			}
			
			.Home-Letters-F{
			height: 9.5vh;
			padding-left: .4em;
			user-select: none;
			}
			
			.Home-Letters-N{
			height: 10vh;
			padding: 0em;
			user-select: none;
			}
			
			.Home-Here{
				display: none;
				
			}
			.Home-Click{
			position:absolute;
			top: 60vh;
			height:5vh;
			user-select: none;
			}
			.Home-Footer{
				top: 60vh;
				}
			.Scavenge{
				font-size: .8em;
				border: solid rgb(255, 217, 235) .05em;
				border-radius: .2em;
				background-color: rgb(255, 217, 235);
				padding: .2em;
			}

	}