.Navbar{
    /* text-align: center; */
    position:fixed;
    align-items: center;
    width: 100%;
    padding: 1em;
    padding-left: 0em;
    background-color: rgb(196, 248, 255);
}


.Letters-D{
    height: 6.8vh;
    transition: transform .2s; 
    padding: 0em;
    user-select: none;
}

.Letters-D:hover{
    transform: scale(1.1);
}

.Letters-A{
    height: 7vh;
    transition: transform .2s; 
    padding: 0em;
    user-select: none;
}

.Letters-A:hover{
    transform: scale(1.1);
}

.Letters-F{
    height: 6.5vh;
    transition: transform .2s; 
    padding-bottom: 0em;
    padding-left: 0.4em;
    user-select: none;
}

.Letters-F:hover{
    transform: scale(1.1);
}

.Letters-N{
    height: 7vh;
    transition: transform .2s; 
    padding: 0em;
    user-select: none;
}

.Letters-N:hover{
    transform: scale(1.1);
}