.WillVill{
    background-image: url('../../media/gifs/glitchy.gif');
    height: 110vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clue-top{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image{
    height:50vh;
}

.clue-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.bottom{
    height: 10vh;
    display: flex;
}

.ClueHeading{
    font-family:"Arial Black";
    font-size: 4em;
    color:rgb(255, 217, 235);

}

.clue-text{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: white;
    text-align: center;
}

.Clue{
    margin: .5em;
    font-family: 'BentonSans-Regular';
    text-decoration:none;
    color: black;
}

.Clue:hover{
    color: white;
}
.ClueBack{
    text-decoration: none;
    color:white;
    font-family: 'BentonSans-Regular';
}

.link{
    color: white;
}
.link:visited{
    color: white;
}
.clue-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: .2em;
  }

  .clue-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .hide-text{
      margin: 1em;
  }


  .location-blocker{
      text-align: center;
      width: 60vh;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .text-box{
      margin: 1em;
  }
  @media only screen and (max-width: 600px) { 
    .ClueHeading{
        font-size: 2em;
    }
    .clue-text{
        width: 90vw;
    }
    .clue-box{
        margin: .5em;
    }
    .WillVill{
        height:120vh;
    }
    .image{
        height: 35vh;
    }
}