.News{
    background-color:rgb(196, 248, 255);
    height: 100vh;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.News-Title{
    height:17vh;
    padding-top: 4em;

}

.News-Header{
    height: 30vh;
    display:flex;
    /* align-items: center; */
    justify-content: left;
    padding: 1em;
    padding-bottom: 0em;
    background-color: rgb(196, 248, 255);
}

.News-Content{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.News-Footer{
    top: 100vh;
    height: 30vh;
    display: flex;
    align-items: right;
    justify-content: center;
}