
.News{	
	background-color:rgb(196, 248, 255);
	height: 100%;
	text-align: center;
	font-family: 'BentonSans-Regular';
	}
	
	.News-Header{
	height: 10vh;
	display:flex;
	/* align-items: center; */
	justify-content: left;
	padding: 1em;
	padding-top:7em;
	padding-bottom: 0em;
	background-color: rgb(196, 248, 255);
	}

	.News-Letters-N{
	height: 10vh;
	}

	.News-Letters-E{
		height:6.5vh;
		padding-top: 0.7em;
	}

	.News-Letters-W{
		padding-top:.8em;
		height:6.2vh;
	}

	.News-Letters-S{
		height: 6.3vh;
		padding-top:.8em;
	}
	
	.News-Content{
	height: 30vh;
	display: flex;
	justify-content: center;
	}

	.News-Releases{
		height: 60vh;
		width: 80vh;

	}

	.News-Recent{
		background-color: rgba(152, 73, 255, 0.233);
		padding: 1em;
		margin: .5em;
		display: flex;
		justify-content: left;
		border-radius: .8em;
	}

	.News-Recent:hover{
	background-color:  rgba(206, 175, 255, 0.521);
	}
	.News-Album{
		height:11.5vh;
	}
	.News-Shows{
		height: 60vh;
		width: 80vh;
	}
	.News-Upcoming{
		background-color: rgba(152, 73, 255, 0.233);
		padding: 1em;
		margin: .5em;
		display: flex;
		justify-content: left;
		border-radius: .8em;

	}
	.News-Upcoming:hover{
			background-color:  rgba(206, 175, 255, 0.521);
		}
	.News-Calendar{
		height: 11.5vh;
	}
	.News-Head{
color:black;
padding-left: .4em;
	}
	.News-Description{
		font-size: .7em;
		text-align: left;
		color: black;
	}
	.News-Titles{
		padding: 10em;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-top: 1em;
		font-style: unset;
		background-color:  rgba(100, 4, 255, 0.521);
		color:black;
	
		}
		
	.News-List{
		overflow:auto;
		height: 60vh;
	}
	.News-Footer{
	padding-top: 22em;
	background-color:rgb(196, 248, 255);
	/* display: flex;
	justify-content: center;
	position: relative; */
	}

	a:link {
		color: rgb(70, 25, 32);
	}
	a:visited{
		color: rgb(70, 25, 32);
	}
	.News-Mobile{
		display:none;
	}
	@media only screen and (max-width:600px){
	.News-Content{
		display: none;
	}
	.News-Mobile{
		display: block;
		justify-content: center;
		align-items: center;
		text-align: center;
		/* padding: 1em; */
		padding-top: 2em;
	}

	.News-M-Content{
		display: flex;
		justify-content: center;
	}

.News{	
	background-color:rgb(196, 248, 255);
	height: 100vh;
	text-align: center;
	font-family: 'BentonSans-Regular';
	}
		
	.News-Header{
		height: 8vh;
		display:flex;
		align-items: center;
		justify-content: center;
		}

		.News-M-Releases{
			background-color:  rgba(100, 4, 255, 0.521);
			width: 100vw;
			height: 5vh;
			display:flex;
			align-items: center;
			justify-content: center;
		}
		.News-M-Recent{
			position: relative;
			display: flex; 
			justify-content: left;
			background-color: grey;
			padding: 1em;
			width: 90vw;
		}

		.News-Album{
			height:15vh;
			padding: .2em;
		}

		.News-Head{
			padding-top: .2em;
		}
	}