
.News{	
	background-color:rgb(196, 248, 255);
	height: 100vh;
	text-align: center;
	font-family: 'BentonSans-Regular';
	}
	
	.News-Header{
	height: 10vh;
	display:flex;
	/* align-items: center; */
	justify-content: left;
	padding: 1em;
	padding-top:7em;
	padding-bottom: 0em;
	background-color: rgb(196, 248, 255);
	}

	.News-Letters-N{
	height: 10vh;
	}

	.News-Letters-E{
		height:6.5vh;
		padding-top: 0.7em;
	}

	.News-Letters-W{
		padding-top:.8em;
		height:6.2vh;
	}

	.News-Letters-S{
		height: 6.3vh;
		padding-top:.8em;
	}
	
	.News-Content{
	height: 80vh;
	display: flex;
	background-color:rgb(196, 248, 255);
	justify-content: center;
	overflow:scroll;
	flex-direction: row;
	}

	.News-Embed{
		border-radius: 1em;
		margin: 2em;
		border: 0;
	}
	.News-Embed:hover{
		transform: scale(1.01);
	}

	.News-Head{
color:black;
padding-left: .4em;
	}
	.News-Description{
		font-size: .7em;
		text-align: left;
		color: black;
	}
	.News-Titles{
		padding: 10em;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-top: 1em;
		font-style: unset;
		background-color:  rgba(100, 4, 255, 0.521);
		color:black;
	
		}
		
	.News-List{
		overflow:auto;
		height: 60vh;
		background-color:rgb(196, 248, 255);
	}
	.News-Footer{
	padding-top: 2em;
	background-color:rgb(196, 248, 255);
	}

	.ScrollToTop{
		padding: .5em;
	}
	a:link {
		color: rgb(70, 25, 32);
	}
	a:visited{
		color: rgb(70, 25, 32);
	}
	
	@media only screen and (max-width: 800px) { 

		.News-Content{
			overflow:none;
			display: block;
			flex-direction: column;
		}

		.News-Embed{
			width: 90vw;
			height: 600px;
		}
	}